body {
    width:100%;
    margin:0 auto;
    font-family: 'Noto Sans HK', sans-serif;
}
.nav-bar{
    height:90px;
    width:100%;
    background-color: lightblue;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.logo {
    height:125px;
    margin-left: 80px;
    }
    
.nav-list{
    float:right;
    text-align: center;
}
.list-item {
    list-style-type: none;
    height: 40px;
    width:60px;
    background-color: blue;
    float: left;
    margin-right: 25px;
    border-radius: 25%;
    border: solid 3px gray;
    border-radius: 8px;
    /* float:left;
    /*clear:left;*/
    list-style-type:none;
    margin-right: 25px;
    background-color: blue;
    border-radius: 10px; */
}
.list-item a {
    text-decoration:none;
    color: white;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

.list-item a:hover{
    color: orange;
    height: 40px;
    width: 60px;
    /*background-color: ;*/
    float: left;
    margin-right: 36px;
}

/* end of nav bar */
.contact-header {
    background-color: cornflowerblue;
    height: 75px;
    color: black;
    top: 255px;
    width: 200px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    font-family:'Roboto Slab', serif;
    /* text-shadow:blue -3px -2px; */
    box-shadow: gray 4px 2px;
    border-radius: 8px;    
}

.container {
    height: 250px;
    width: 100%;
    margin-top: 180px;
    margin-left: 8%;
}
.contact-col {
    float: left;
    clear:right;
}



/* footer section */
.footer {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 820px;
    background-color: rgba(21, 77, 143, 5);
}

.input, .social, .copy {
    float: left; 
    width: 30%;
    text-align: center;
    margin-top: 12px;
    margin-left: 20px;
}
.input input, .input button, .social a {
    display: inline-block;
    margin-top: 12px;
}

.fa-instagram{
    color: magenta;
}
